doctype true
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='x-apple-disable-message-reformatting')
  // [if !mso] <!
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  // <![endif]
  title
  style(type='text/css').
    @media only screen and (min-width: 620px) {
    .u-row {
    width: 600px !important;
    }
    .u-row .u-col {
    vertical-align: top;
    }
    .u-row .u-col-100 {
    width: 600px !important;
    }
    }
    @media (max-width: 620px) {
    .u-row-container {
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    .u-row .u-col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
    }
    .u-row {
    width: calc(100% - 40px) !important;
    }
    .u-col {
    width: 100% !important;
    }
    .u-col > div {
    margin: 0 auto;
    }
    }
    body {
    margin: 0;
    padding: 0;
    }
    table,
    tr,
    td {
    vertical-align: top;
    border-collapse: collapse;
    }
    p {
    margin: 0;
    }
    .ie-container table,
    .mso-container table {
    table-layout: fixed;
    }
    * {
    line-height: inherit;
    }
    a[x-apple-data-detectors='true'] {
    color: inherit !important;
    text-decoration: none !important;
    }
    @media (max-width: 480px) {
    .hide-mobile {
    max-height: 0px;
    overflow: hidden;
    display: none !important;
    }
    }
    table,
    td {
    color: #000000;
    }
    #u_body a {
    color: #0000ee;
    text-decoration: underline;
    }
    @media (max-width: 480px) {
    #u_content_image_1 .v-src-width {
    width: auto !important;
    }
    #u_content_image_1 .v-src-max-width {
    max-width: 82% !important;
    }
    #u_content_text_2 .v-container-padding-padding {
    padding: 40px 20px 10px !important;
    }
    #u_content_text_9 .v-container-padding-padding {
    padding: 10px 10px 10px 20px !important;
    }
    #u_content_text_10 .v-container-padding-padding {
    padding: 10px 10px 10px 20px !important;
    }
    #u_column_3 .v-col-padding {
    padding: 50px 0px !important;
    }
    #u_content_text_3 .v-container-padding-padding {
    padding: 10px 20px !important;
    }
    #u_content_text_3 .v-text-align {
    text-align: center !important;
    }
    #u_content_text_3 .v-line-height {
    line-height: 160% !important;
    }
    #u_content_divider_1 .v-container-padding-padding {
    padding: 20px 10px !important;
    }
    #u_content_menu_1 .v-padding {
    padding: 5px !important;
    }
    }
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap' rel='stylesheet' type='text/css')
  // <![endif]
//if IE
  .ie-container
//if mso
  .mso-container
table#u_body(style='\
border-collapse: collapse;\
table-layout: fixed;\
border-spacing: 0;\
mso-table-lspace: 0pt;\
mso-table-rspace: 0pt;\
vertical-align: top;\
min-width: 320px;\
margin: 0 auto;\
background-color: #e7e7e7;\
width: 100%;\
' cellpadding='0' cellspacing='0')
  tbody
    tr(style='vertical-align: top')
      td(style='\
      word-break: break-word;\
      border-collapse: collapse !important;\
      vertical-align: top;\
      ')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0')
            tr
              td(align='center' style='background-color: #e7e7e7;')
        .u-row-container(style='padding: 0px; background-color: transparent')
          .u-row(style='\
          margin: 0 auto;\
          min-width: 320px;\
          max-width: 600px;\
          overflow-wrap: break-word;\
          word-wrap: break-word;\
          word-break: break-word;\
          background-color: transparent;\
          ')
            div(style='\
            border-collapse: collapse;\
            display: table;\
            width: 100%;\
            height: 100%;\
            background-color: transparent;\
            ')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0')
                  tr
                    td(style='padding: 0px;background-color: transparent;' align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:600px;')
                        tr(style='background-color: transparent;')
              //if (mso)|(IE)
                td.v-col-padding(align='center' width='600' style='background-color: #ffffff;width: 600px;padding: 0px 0px 50px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;' valign='top')
              .u-col.u-col-100(style='\
              max-width: 320px;\
              min-width: 600px;\
              display: table-cell;\
              vertical-align: top;\
              ')
                div(style='\
                background-color: #ffffff;\
                height: 100%;\
                width: 100% !important;\
                ')
                  // [if (!mso)&(!IE)] <!
                  .v-col-padding(style='\
                  height: 100%;\
                  padding: 0px 0px 50px;\
                  border-top: 0px solid transparent;\
                  border-left: 0px solid transparent;\
                  border-right: 0px solid transparent;\
                  border-bottom: 0px solid transparent;\
                  ')
                    // <![endif]
                    table#u_content_image_1(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 50px 10px 10px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tr
                                td.v-text-align(style='\
                                padding-right: 0px;\
                                padding-left: 0px;\
                                ' align='center')
                                  img.v-src-width.v-src-max-width(align='center' border='0' src='https://i.ibb.co/ZKzzpsK/image-6.png' alt='image' title='image' style='\
                                  outline: none;\
                                  text-decoration: none;\
                                  -ms-interpolation-mode: bicubic;\
                                  clear: both;\
                                  display: inline-block !important;\
                                  border: none;\
                                  height: auto;\
                                  float: none;\
                                  width: 73%;\
                                  max-width: 423.4px;\
                                  ' width='423.4')
                    table(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 10px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            table(width='100%' cellpadding='0' cellspacing='0' border='0')
                              tr
                                td.v-text-align(style='\
                                padding-right: 0px;\
                                padding-left: 0px;\
                                ' align='center')
                                  img.v-src-width.v-src-max-width(align='center' border='0' src='https://i.ibb.co/RcDtKbb/image-4.png' alt='' title='' style='\
                                  outline: none;\
                                  text-decoration: none;\
                                  -ms-interpolation-mode: bicubic;\
                                  clear: both;\
                                  display: inline-block !important;\
                                  border: none;\
                                  height: auto;\
                                  float: none;\
                                  width: 100%;\
                                  max-width: 104px;\
                                  ' width='104')
                    table#u_content_text_2(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 0px 10px 0px 40px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            .v-text-align.v-line-height(style='\
                            line-height: 140%;\
                            text-align: left;\
                            word-wrap: break-word;\
                            ')
                              p(style='font-size: 14px; line-height: 140%')
                                strong
                                  span(style='\
                                  font-size: 18px;\
                                  line-height: 25.2px;\
                                  ') Hi #{data.name},
                    table#u_content_text_9(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 10px 10px 10px 40px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            .v-text-align.v-line-height(style='\
                            line-height: 140%;\
                            text-align: left;\
                            word-wrap: break-word;\
                            ')
                              p(style='font-size: 14px; line-height: 140%')
                                | We&apos;re happy you signed in up for Delievery . To
                                | start exploring our app your first need to
                                | verify your account.
                    table(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 10px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            .v-text-align(align='center')
                              //if mso
                                table(width='100%' cellpadding='0' cellspacing='0' border='0' style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;font-family:'Montserrat',sans-serif;")
                                  tr
                                    td.v-text-align(style="font-family:'Montserrat',sans-serif;" align='center')
                                      v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='' style='height:37px; v-text-anchor:middle; width:160px;' arcsize='135%' stroke='f' fillcolor='#6bdb67')
                                        w:anchorlock
                                          center(style="color:#FFFFFF;font-family:'Montserrat',sans-serif;")
                              a(href=`${data.url}` target='_blank' style="\
                              box-sizing: border-box;\
                              display: inline-block;\
                              font-family: 'Montserrat', sans-serif;\
                              text-decoration: none;\
                              -webkit-text-size-adjust: none;\
                              text-align: center;\
                              color: #ffffff;\
                              background-color: #6bdb67;\
                              border-radius: 50px;\
                              -webkit-border-radius: 50px;\
                              -moz-border-radius: 50px;\
                              width: auto;\
                              max-width: 100%;\
                              overflow-wrap: break-word;\
                              word-break: break-word;\
                              word-wrap: break-word;\
                              mso-border-alt: none;\
                              border-top-width: 0px;\
                              border-top-style: solid;\
                              border-top-color: #ccc;\
                              border-left-width: 0px;\
                              border-left-style: solid;\
                              border-left-color: #ccc;\
                              border-right-width: 0px;\
                              border-right-style: solid;\
                              border-right-color: #ccc;\
                              border-bottom-width: 0px;\
                              border-bottom-style: solid;\
                              border-bottom-color: #ccc;\
                              ")
                                span.v-line-height.v-padding(style='\
                                display: block;\
                                padding: 10px 40px;\
                                line-height: 120%;\
                                ')
                                  p(style='\
                                  font-size: 14px;\
                                  line-height: 120%;\
                                  ')
                                    span(style='\
                                    font-size: 14px;\
                                    line-height: 16.8px;\
                                    ')
                                      strong Verify Now
                              //if mso
                    table#u_content_text_10(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 10px 10px 10px 40px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            .v-text-align.v-line-height(style='\
                            line-height: 140%;\
                            text-align: left;\
                            word-wrap: break-word;\
                            ')
                              p(style='font-size: 14px; line-height: 140%')
                                strong Welcome to Delivery!
                              p(style='font-size: 14px; line-height: 140%')
                                strong DELIVERY  Team&nbsp;
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        .u-row-container(style='padding: 0px; background-color: transparent')
          .u-row(style='\
          margin: 0 auto;\
          min-width: 320px;\
          max-width: 600px;\
          overflow-wrap: break-word;\
          word-wrap: break-word;\
          word-break: break-word;\
          background-color: transparent;\
          ')
            div(style='\
            border-collapse: collapse;\
            display: table;\
            width: 100%;\
            height: 100%;\
            background-color: transparent;\
            ')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0')
                  tr
                    td(style='padding: 0px;background-color: transparent;' align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:600px;')
                        tr(style='background-color: transparent;')
              //if (mso)|(IE)
                td.v-col-padding(align='center' width='600' style='background-color: #f0f0f0;width: 600px;padding: 50px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;' valign='top')
              #u_column_3.u-col.u-col-100(style='\
              max-width: 320px;\
              min-width: 600px;\
              display: table-cell;\
              vertical-align: top;\
              ')
                div(style='\
                background-color: #f0f0f0;\
                height: 100%;\
                width: 100% !important;\
                border-radius: 0px;\
                -webkit-border-radius: 0px;\
                -moz-border-radius: 0px;\
                ')
                  // [if (!mso)&(!IE)] <!
                  .v-col-padding(style='\
                  height: 100%;\
                  padding: 50px 0px;\
                  border-top: 0px solid transparent;\
                  border-left: 0px solid transparent;\
                  border-right: 0px solid transparent;\
                  border-bottom: 0px solid transparent;\
                  border-radius: 0px;\
                  -webkit-border-radius: 0px;\
                  -moz-border-radius: 0px;\
                  ')
                    // <![endif]
                    table#u_content_text_3(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 10px 50px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            .v-text-align.v-line-height(style='\
                            line-height: 140%;\
                            text-align: center;\
                            word-wrap: break-word;\
                            ')
                              p(style='font-size: 14px; line-height: 140%')
                                | If you have any questions, please email us
                                | at
                                a(rel='noopener' href='mailto:help@headspace.com' target='_blank') 
                                |                                      visit our FAQS, you can also chat with a
                                |                                     reel live human during our operating hours.
                                |                                     They can answer questions about your account
                    table#u_content_divider_1(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 20px 10px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='57%' style='\
                            border-collapse: collapse;\
                            table-layout: fixed;\
                            border-spacing: 0;\
                            mso-table-lspace: 0pt;\
                            mso-table-rspace: 0pt;\
                            vertical-align: top;\
                            border-top: 1px solid #bbbbbb;\
                            -ms-text-size-adjust: 100%;\
                            -webkit-text-size-adjust: 100%;\
                            ')
                              tbody
                                tr(style='vertical-align: top')
                                  td(style='\
                                  word-break: break-word;\
                                  border-collapse: collapse !important;\
                                  vertical-align: top;\
                                  font-size: 0px;\
                                  line-height: 0px;\
                                  mso-line-height-rule: exactly;\
                                  -ms-text-size-adjust: 100%;\
                                  -webkit-text-size-adjust: 100%;\
                                  ')
                                    span &nbsp;
                    table(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 10px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            div(align='center')
                              div(style='display: table; max-width: 187px')
                                //if (mso)|(IE)
                                  table(width='187' cellpadding='0' cellspacing='0' border='0')
                                    tr
                                      td(style='border-collapse:collapse;' align='center')
                                        table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:187px;')
                                          tr
                                //if (mso)|(IE)
                                  td(width='32' style='width:32px; padding-right: 15px;' valign='top')
                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='\
                                width: 32px !important;\
                                height: 32px !important;\
                                display: inline-block;\
                                border-collapse: collapse;\
                                table-layout: fixed;\
                                border-spacing: 0;\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                vertical-align: top;\
                                margin-right: 15px;\
                                ')
                                  tbody
                                    tr(style='vertical-align: top')
                                      td(align='left' valign='middle' style='\
                                      word-break: break-word;\
                                      border-collapse: collapse !important;\
                                      vertical-align: top;\
                                      ')
                                        a(href='https://linkedin.com/' title='LinkedIn' target='_blank')
                                          img(src='https://i.ibb.co/bQRy5DG/image-1.png' alt='LinkedIn' title='LinkedIn' width='32' style='\
                                          outline: none;\
                                          text-decoration: none;\
                                          -ms-interpolation-mode: bicubic;\
                                          clear: both;\
                                          display: block !important;\
                                          border: none;\
                                          height: auto;\
                                          float: none;\
                                          max-width: 32px !important;\
                                          ')
                                //if (mso)|(IE)
                                //if (mso)|(IE)
                                  td(width='32' style='width:32px; padding-right: 15px;' valign='top')
                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='\
                                width: 32px !important;\
                                height: 32px !important;\
                                display: inline-block;\
                                border-collapse: collapse;\
                                table-layout: fixed;\
                                border-spacing: 0;\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                vertical-align: top;\
                                margin-right: 15px;\
                                ')
                                  tbody
                                    tr(style='vertical-align: top')
                                      td(align='left' valign='middle' style='\
                                      word-break: break-word;\
                                      border-collapse: collapse !important;\
                                      vertical-align: top;\
                                      ')
                                        a(href='https://facebook.com/' title='Facebook' target='_blank')
                                          img(src='https://i.ibb.co/7jFvL4v/image-5.png' alt='Facebook' title='Facebook' width='32' style='\
                                          outline: none;\
                                          text-decoration: none;\
                                          -ms-interpolation-mode: bicubic;\
                                          clear: both;\
                                          display: block !important;\
                                          border: none;\
                                          height: auto;\
                                          float: none;\
                                          max-width: 32px !important;\
                                          ')
                                //if (mso)|(IE)
                                //if (mso)|(IE)
                                  td(width='32' style='width:32px; padding-right: 15px;' valign='top')
                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='\
                                width: 32px !important;\
                                height: 32px !important;\
                                display: inline-block;\
                                border-collapse: collapse;\
                                table-layout: fixed;\
                                border-spacing: 0;\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                vertical-align: top;\
                                margin-right: 15px;\
                                ')
                                  tbody
                                    tr(style='vertical-align: top')
                                      td(align='left' valign='middle' style='\
                                      word-break: break-word;\
                                      border-collapse: collapse !important;\
                                      vertical-align: top;\
                                      ')
                                        a(href='https://twitter.com/' title='Twitter' target='_blank')
                                          img(src='https://i.ibb.co/k8ms6D4/image-2.png' alt='Twitter' title='Twitter' width='32' style='\
                                          outline: none;\
                                          text-decoration: none;\
                                          -ms-interpolation-mode: bicubic;\
                                          clear: both;\
                                          display: block !important;\
                                          border: none;\
                                          height: auto;\
                                          float: none;\
                                          max-width: 32px !important;\
                                          ')
                                //if (mso)|(IE)
                                //if (mso)|(IE)
                                  td(width='32' style='width:32px; padding-right: 0px;' valign='top')
                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='\
                                width: 32px !important;\
                                height: 32px !important;\
                                display: inline-block;\
                                border-collapse: collapse;\
                                table-layout: fixed;\
                                border-spacing: 0;\
                                mso-table-lspace: 0pt;\
                                mso-table-rspace: 0pt;\
                                vertical-align: top;\
                                margin-right: 0px;\
                                ')
                                  tbody
                                    tr(style='vertical-align: top')
                                      td(align='left' valign='middle' style='\
                                      word-break: break-word;\
                                      border-collapse: collapse !important;\
                                      vertical-align: top;\
                                      ')
                                        a(href='https://pinterest.com/' title='Pinterest' target='_blank')
                                          img(src='https://i.ibb.co/tqmzr7G/image-3.png' alt='Pinterest' title='Pinterest' width='32' style='\
                                          outline: none;\
                                          text-decoration: none;\
                                          -ms-interpolation-mode: bicubic;\
                                          clear: both;\
                                          display: block !important;\
                                          border: none;\
                                          height: auto;\
                                          float: none;\
                                          max-width: 32px !important;\
                                          ')
                                //if (mso)|(IE)
                                //if (mso)|(IE)
                    table#u_content_menu_1(style="font-family: 'Montserrat', sans-serif" role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                      tbody
                        tr
                          td.v-container-padding-padding(style="\
                          overflow-wrap: break-word;\
                          word-break: break-word;\
                          padding: 10px;\
                          font-family: 'Montserrat', sans-serif;\
                          " align='left')
                            .menu(style='text-align: center')
                              //if (mso)|(IE)
                                table(role='presentation' border='0' cellpadding='0' cellspacing='0' align='center')
                                  tr
                              //if (mso)|(IE)
                                td(style='padding:5px 15px')
                              a.v-padding(href='https://www.unlayer.com' target='_self' style="\
                              padding: 5px 15px;\
                              display: inline-block;\
                              color: #000000;\
                              font-family: 'Montserrat', sans-serif;\
                              font-size: 14px;\
                              text-decoration: none;\
                              ")
                                | Head Office
                              //if (mso)|(IE)
                              //if (mso)|(IE)
                                td(style='padding:5px 15px')
                              span.v-padding.hide-mobile(style="\
                              padding: 5px 15px;\
                              display: inline-block;\
                              color: #444444;\
                              font-family: 'Montserrat', sans-serif;\
                              font-size: 14px;\
                              ")
                                | |
                              //if (mso)|(IE)
                              //if (mso)|(IE)
                                td(style='padding:5px 15px')
                              a.v-padding(href='https://www.unlayer.com' target='_self' style="\
                              padding: 5px 15px;\
                              display: inline-block;\
                              color: #000000;\
                              font-family: 'Montserrat', sans-serif;\
                              font-size: 14px;\
                              text-decoration: none;\
                              ")
                                | How it works
                              //if (mso)|(IE)
                              //if (mso)|(IE)
                                td(style='padding:5px 15px')
                              span.v-padding.hide-mobile(style="\
                              padding: 5px 15px;\
                              display: inline-block;\
                              color: #444444;\
                              font-family: 'Montserrat', sans-serif;\
                              font-size: 14px;\
                              ")
                                | |
                              //if (mso)|(IE)
                              //if (mso)|(IE)
                                td(style='padding:5px 15px')
                              a.v-padding(href='https://www.unlayer.com' target='_self' style="\
                              padding: 5px 15px;\
                              display: inline-block;\
                              color: #000000;\
                              font-family: 'Montserrat', sans-serif;\
                              font-size: 14px;\
                              text-decoration: none;\
                              ")
                                | FAQs
                              //if (mso)|(IE)
                              //if (mso)|(IE)
                                td(style='padding:5px 15px')
                              span.v-padding.hide-mobile(style="\
                              padding: 5px 15px;\
                              display: inline-block;\
                              color: #444444;\
                              font-family: 'Montserrat', sans-serif;\
                              font-size: 14px;\
                              ")
                                | |
                              //if (mso)|(IE)
                              //if (mso)|(IE)
                                td(style='padding:5px 15px')
                              a.v-padding(href='https://www.unlayer.com' target='_self' style="\
                              padding: 5px 15px;\
                              display: inline-block;\
                              color: #000000;\
                              font-family: 'Montserrat', sans-serif;\
                              font-size: 14px;\
                              text-decoration: none;\
                              ")
                                | T&amp;Cs
                              //if (mso)|(IE)
                              //if (mso)|(IE)
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        //if (mso)|(IE)
//if mso
//if IE
